<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head></head>
  <body>
    <div th:fragment="newFeed" class="newFeed">

      <form th:action="@{/saveFeed}" th:object="${feed}" method="post">
        <fieldset>
          <legend th:text="#{title.new.feed}">Add new feed</legend>

          <div>
            <label for="feedUrl">
              <span th:text="#{feed.url}">Feed URL</span>
            </label>
            <input id="feedUrl" type="text" th:field="*{url}" th:errorclass="urlError" />
          </div>

          <button type="submit" name="save"
                  th:text="#{feed.save}">Save</button>
        </fieldset>
      </form>

    </div>
  </body>
</html>