<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head></head>
  <body>
    <div th:fragment="viewFeed" class="viewFeed">
      <h2 th:text="${feed.title}">Feed</h2>
      <p th:text="${feed.lastUpdate}">Last update</p>
      <p th:text="${feed.url}">url</p>
      <p th:text="${feed.feedName}">name</p>
      <ul class="list-group">
        <li th:each="item : ${feed.items}" class="list-group-item">
          <span th:text="${{item.title}}">Item title</span>
        </li>
      </ul>
      <a th:text="#{feed.back}" class="btn btn-primary btn-sm" href="/">Back</a>
    </div>
  </body>
</html>