<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>RSS Feed manager</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/feeds.css"
          th:href="@{css/feeds.css}"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
  </head>

  <body>
    <div class="container">
      <div class="jumbotron">

        <div class="content">
          <div class="feedList" th:unless="${#lists.isEmpty(allFeeds)}">
            <h2 th:text="#{title.rss.list}">List of RSS feeds</h2>
            <p class="invite" th:text="#{invite.to.add.feed}">Please find a list of availabe feeds.</p>

            <ul class="list-group">
              <li th:each="sb : ${allFeeds}" class="list-group-item">
                <span th:text="${{sb.items.size()}}" class="badge">12</span>
                <a th:text="${{sb.title}}" th:onclick="'javascript:viewFeed(' + ${sb.id} + ')'">Test title</a>
                <span></span>
              </li>
            </ul>
          </div>
        </div>

        <a th:text="#{feed.add}" class="btn btn-primary btn-sm" onclick="newFeed()">Add</a>
      </div>
    </div>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
    <script src="../static/js/feeds.js"
            th:src="@{js/feeds.js}"></script>
  </body>
</html>